* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #332f57d3;
    background-color: #f9f5f0; 
}

header {
    background-color: #3c405f; 
    color: white;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

header div h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #d7ccc8; /* Светло-бежевый */
    letter-spacing: 2px;
}

header div h3 {
    font-size: 1rem;
    color: #bcaaa4;
    margin-top: 5px;
    font-weight: normal;
}


nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
}

nav a {
    color: #d7ccc8;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: all 0.3s ease;
    font-weight: 500;
}

nav a:hover {
    background-color: #2d3d61b2;
    color: white;
    transform: translateY(-2px);
}


